### Training LSTM on *all flight paths* that intersect Chicgo airspace

* 'adsb_Chicago_flights.csv' contains about 57 flight paths, with 11,697 observations within the 1 hour window this data observes
    * issue: Non-Unique index when using time variable to index BUT based on preliminary research we should index the data  by TIME 
    * cannot load string/text based based onto LSTM (must convert to nuerical categorical variable)
* please see LSTM_a19835.ipynb file for intial and individual flight training results

In [1]:
#importing necessary packages
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
from torch.autograd import Variable
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler, MinMaxScaler
#import contextily-->trying to use to add basemaps
import sklearn.metrics
import math
import time

#### Data Preprocessing

In [156]:
#reading and inspecting the data for 57 flights intersecting Chicago airspace called 'adsb_Chicago_flights'
df = pd.read_csv('Flight_Data/adsb_Chicago_flights.csv', index_col = 'OBJECTID', parse_dates = True) 
#change the index column so they are unique?...

print(len(df), df.info())
df.head(3)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11697 entries, 1 to 11697
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   time           11697 non-null  int64
 1   icao24         11697 non-null  object
 2   lat            11697 non-null  float64
 3   lon            11697 non-null  float64
 4   velocity       10651 non-null  float64
 5   heading        10651 non-null  float64
 6   vertrate       10651 non-null  float64
 7   callsign       11628 non-null  object
 8   onground       11697 non-null  bool
 9   alert          11697 non-null  bool
 10  spi            11697 non-null  bool
 11  squawk         11236 non-null  float64
 12  baroaltitude   10606 non-null  float64
 13  geoaltitude    10280 non-null  float64
 14  lastposupdate  11697 non-null  float64
 15  lastcontact    11697 non-null  float64
dtypes: bool(3), float64(10), int64(1), object(2)
memory usage: 1.3+ MB
11697 None

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
OBJECTID,,,,,,,,,,,,,,,,
1,1590364810,abef2f,41.504160,-88.314940,139.650465,63.529340,0.32512,SWA6893,False,False,False,1210.0,1539.24,1569.72,1.590365e+09,1.590365e+09
2,1590364810,a23d25,39.759064,-87.232460,228.154609,2.714021,0.00000,SWA399,False,False,False,3163.0,12192.00,12649.20,1.590365e+09,1.590365e+09
3,1590364810,abdd09,40.745865,-82.465942,209.393875,287.589152,-0.32512,SWA163,False,False,False,7542.0,12184.38,12633.96,1.590365e+09,1.590365e+09

In [157]:
# REPLACING ALL NAN values in my altitude column for 0 (becasue it is on the ground they no longer report the alt)
#a nessacery step if i hope to predict altiude (LSTM doesn't work with nan)
df['geoaltitude'] = df['geoaltitude'].fillna(0)
df['velocity'] = df['velocity'].fillna(0)
df['vertrate'] = df['vertrate'].fillna(0)
df = df.dropna(subset=['heading'])
#inspect data to make sure it worked
#df.tail(5)

### choosing x and y variables (predictor and predicted variables)

In [158]:
# x retains all the data used to prdict y... (velocity, heading, vertrate, latposupd, and lastcontact)
x = df.iloc[:,0:16]
x = x.drop("lat", axis=1)
x = x.drop("lon", axis=1)
x = x.drop("callsign", axis=1)
x = x.drop("onground", axis=1)
x = x.drop("alert", axis=1)
x = x.drop("spi", axis=1)
x = x.drop("squawk", axis=1)
x = x.drop("baroaltitude", axis=1)
x = x.drop("geoaltitude", axis=1)

# y are both the lat and lon columns (later try and predict alt as well...)
y =df.iloc[:, 0:4]

print(np.min(x['icao24']), np.max(x['icao24']))#should have a range of 57 flight path categories
x

4bb145 adb8cb

,time,icao24,velocity,heading,vertrate,lastposupdate,lastcontact
OBJECTID,,,,,,,
1,1590364810,abef2f,139.650465,63.529340,0.32512,1.590365e+09,1.590365e+09
2,1590364810,a23d25,228.154609,2.714021,0.00000,1.590365e+09,1.590365e+09
3,1590364810,abdd09,209.393875,287.589152,-0.32512,1.590365e+09,1.590365e+09
4,1590364810,a0a332,134.041047,219.861881,25.68448,1.590365e+09,1.590365e+09
5,1590364810,abf29f,131.682592,249.653541,14.30528,1.590365e+09,1.590365e+09
...,...,...,...,...,...,...,...
11693,1590368390,abeb57,224.099270,82.613957,0.00000,1.590368e+09,1.590368e+09
11694,1590368390,a591d5,172.866963,97.696052,22.43328,1.590368e+09,1.590368e+09
11695,1590368390,a542d7,230.338818,81.652732,0.00000,1.590368e+09,1.590368e+09
11696,1590368390,abe496,214.481199,291.086844,13.32992,1.590368e+09,1.590368e+09
11697,1590368390,ab6316,144.719781,97.352379,16.58112,1.590368e+09,1.590368e+09

### Intial Conclusions/Thoughts

I did not successfully train the LSTM model with the larger dataset. I suspect I will need to retrain it for each flight path, but must seperate each flight path so that the time index is unique.

**First:** seperate and save different csv files to then be read into the lstm model one at a time for training (could be done via python or by hand in ArcPro).

**Then,** i should organize my code into definition/functions so i can automate trianing the same LSTM based on each of the seperate csv files. (involves retraining then saving the model after each interation to compare and make sure training is  working). 

**last,** compare predicted results with those from my first draft (imporved or not with more training....)

May, need to consider adding more context variables for data training, altering current number of layers within LSTM, change the 'time lag of the LSTM' (make it consider 1, 5 , 10 timesateps into the past), lastly, compare to an alternative prediction model (like linear multivariate modeling).

In [159]:
#a look at my current x (and my desired variables)
y.head()

                time  icao24        lat        lon
OBJECTID
1         1590364810  abef2f  41.504160 -88.314940
2         1590364810  a23d25  39.759064 -87.232460
3         1590364810  abdd09  40.745865 -82.465942
4         1590364810  a0a332  42.897125 -87.849043
5         1590364810  abf29f  41.815430 -87.811473

### seperate each flight path into its own dataframe

In [160]:
#let's seperate my current csv 'adsb_Chicago_flights' by flight path (aka icao24 variable)
x_s = [m for _, m in x.groupby('icao24')]
x_s

y_s = [m for _, m in y.groupby('icao24')]
y_s

[                time  icao24        lat        lon
 OBJECTID
 8         1590364810  4bb145  43.676008 -85.243247
 46        1590364820  4bb145  43.658798 -85.265148
 62        1590364830  4bb145  43.643887 -85.286996
 89        1590364840  4bb145  43.629130 -85.310080
 120       1590364850  4bb145  43.614029 -85.333621
 ...              ...     ...        ...        ...
 7782      1590367270  4bb145  41.967843 -87.894394
 7786      1590367280  4bb145  41.967843 -87.894394
 7843      1590367290  4bb145  41.967843 -87.894394
 7872      1590367300  4bb145  41.967843 -87.894394
 7893      1590367310  4bb145  41.967843 -87.894394

 [251 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 2251      1590365530  78157d  41.969101 -87.875893
 2295      1590365540  78157d  41.969193 -87.869027
 2334      1590365550  78157d  41.971893 -87.853109
 2341      1590365560  78157d  41.977524 -87.843746
 2393      1590365570  78157d  41.985901 -87.838003
 ...              ...     ...        ...        ...
 11527     1590368350  78157d  46.785977 -92.185661
 11572     1590368360  78157d  46.888950 -92.329735
 11621     1590368370  78157d  46.891937 -92.334183
 11625     1590368380  78157d  46.891937 -92.334183
 11670     1590368390  78157d  46.891937 -92.334183

 [287 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 489       1590364980  89902f  46.315008 -95.859421
 514       1590364990  89902f  46.306814 -95.841225
 530       1590365000  89902f  46.291489 -95.807145
 568       1590365010  89902f  46.280838 -95.783546
 612       1590365020  89902f  46.268967 -95.757248
 ...              ...     ...        ...        ...
 11533     1590368350  89902f  42.132523 -88.347619
 11578     1590368360  89902f  42.121445 -88.340627
 11599     1590368370  89902f  42.109804 -88.333336
 11624     1590368380  89902f  42.098740 -88.326395
 11683     1590368390  89902f  42.087067 -88.319154

 [342 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 10        1590364810  a05646  42.016525 -87.856917
 38        1590364820  a05646  42.024334 -87.857602
 69        1590364830  a05646  42.034995 -87.858433
 92        1590364840  a05646  42.044724 -87.859227
 121       1590364850  a05646  42.054794 -87.859976
 ...              ...     ...        ...        ...
 11534     1590368350  a05646  47.260670 -80.023639
 11571     1590368360  a05646  47.260670 -80.023639
 11607     1590368370  a05646  47.283691 -79.957878
 11642     1590368380  a05646  47.298386 -79.915581
 11679     1590368390  a05646  47.298386 -79.915581

 [347 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 1495      1590365300  a06e4a  41.622116 -87.422083
 1544      1590365310  a06e4a  41.627383 -87.426772
 1548      1590365320  a06e4a  41.634521 -87.429386
 1606      1590365330  a06e4a  41.642234 -87.430093
 1613      1590365340  a06e4a  41.650660 -87.430732
 ...              ...     ...        ...        ...
 11536     1590368350  a06e4a  43.830608 -90.911211
 11573     1590368360  a06e4a  43.838242 -90.925533
 11603     1590368370  a06e4a  43.845737 -90.939658
 11648     1590368380  a06e4a  43.852890 -90.953000
 11680     1590368390  a06e4a  43.860397 -90.967052

 [310 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 4         1590364810  a0a332  42.897125 -87.849043
 42        1590364820  a0a332  42.887785 -87.859824
 61        1590364830  a0a332  42.878615 -87.871007
 81        1590364840  a0a332  42.869351 -87.882581
 118       1590364850  a0a332  42.860229 -87.894202
 ...              ...     ...        ...        ...
 3973      1590366060  a0a332  41.965714 -87.939751
 3988      1590366070  a0a332  41.965714 -87.939751
 4018      1590366080  a0a332  41.965714 -87.939751
 4050      1590366090  a0a332  41.965714 -87.939751
 4096      1590366100  a0a332  41.965714 -87.939751

 [130 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 6791      1590366970  a0abc5  41.984206 -87.886154
 6820      1590366980  a0abc5  41.986038 -87.877454
 6849      1590366990  a0abc5  41.990845 -87.870213
 6892      1590367000  a0abc5  41.998077 -87.865781
 6905      1590367010  a0abc5  42.006226 -87.864628
 ...              ...     ...        ...        ...
 11521     1590368350  a0abc5  42.921021 -85.113958
 11574     1590368360  a0abc5  42.925598 -85.084001
 11610     1590368370  a0abc5  42.929810 -85.056344
 11655     1590368380  a0abc5  42.934291 -85.026855
 11665     1590368390  a0abc5  42.938782 -84.997452

 [143 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 594       1590365020  a0d1d8  41.707872 -88.203927
 645       1590365030  a0d1d8  41.704195 -88.203927
 659       1590365040  a0d1d8  41.700348 -88.203985
 705       1590365050  a0d1d8  41.696188 -88.203991
 727       1590365060  a0d1d8  41.693348 -88.204055
 ...              ...     ...        ...        ...
 5870      1590366690  a0d1d8  41.753860 -88.190689
 5901      1590366700  a0d1d8  41.753860 -88.190689
 5918      1590366710  a0d1d8  41.753860 -88.190689
 5967      1590366720  a0d1d8  41.753860 -88.190689
 5988      1590366730  a0d1d8  41.753860 -88.190689

 [172 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 5587      1590366600  a0d961  42.182053 -83.397716
 5593      1590366610  a0d961  42.174820 -83.407204
 5651      1590366620  a0d961  42.169205 -83.418040
 5658      1590366630  a0d961  42.162595 -83.430240
 5718      1590366640  a0d961  42.155146 -83.443206
 ...              ...     ...        ...        ...
 11514     1590368350  a0d961  42.344381 -87.511213
 11583     1590368360  a0d961  42.335861 -87.530011
 11586     1590368370  a0d961  42.325333 -87.546491
 11659     1590368380  a0d961  42.313156 -87.561035
 11661     1590368390  a0d961  42.299970 -87.575279

 [180 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 21        1590364810  a198e5  39.353851 -85.572987
 36        1590364820  a198e5  39.375698 -85.581909
 66        1590364830  a198e5  39.395966 -85.590124
 98        1590364840  a198e5  39.419266 -85.599617
 114       1590364850  a198e5  39.440552 -85.608275
 ...              ...     ...        ...        ...
 7016      1590367040  a198e5  41.785102 -87.760003
 7051      1590367050  a198e5  41.785102 -87.760003
 7067      1590367060  a198e5  41.785102 -87.760003
 7105      1590367070  a198e5  41.785102 -87.760003
 7149      1590367080  a198e5  41.785102 -87.760003

 [228 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 15        1590364810  a1c39a  41.791718 -88.624150
 35        1590364820  a1c39a  41.795344 -88.623835
 56        1590364830  a1c39a  41.795344 -88.623835
 80        1590364840  a1c39a  41.795344 -88.623835
 127       1590364850  a1c39a  41.809753 -88.621715
 ...              ...     ...        ...        ...
 3388      1590365880  a1c39a  41.917648 -88.289878
 3419      1590365890  a1c39a  41.917648 -88.289878
 3462      1590365900  a1c39a  41.917648 -88.289878
 3504      1590365910  a1c39a  41.917648 -88.289878
 3514      1590365920  a1c39a  41.917648 -88.289878

 [112 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 22        1590364810  a1d44e  41.750839 -87.795181
 30        1590364820  a1d44e  41.754227 -87.790812
 64        1590364830  a1d44e  41.758102 -87.785872
 78        1590364840  a1d44e  41.758102 -87.785872
 116       1590364850  a1d44e  41.768143 -87.773271
 136       1590364860  a1d44e  41.768763 -87.772522
 161       1590364870  a1d44e  41.775558 -87.763970
 188       1590364880  a1d44e  41.777710 -87.761286
 233       1590364890  a1d44e  41.783936 -87.753296
 256       1590364900  a1d44e  41.783936 -87.753296
 282       1590364910  a1d44e  41.783936 -87.753296
 313       1590364920  a1d44e  41.789618 -87.745855
 331       1590364930  a1d44e  41.789429 -87.745368
 360       1590364940  a1d44e  41.789429 -87.745368
 406       1590364950  a1d44e  41.788792 -87.745599
 425       1590364960  a1d44e  41.788330 -87.746164
 467       1590364970  a1d44e  41.787758 -87.746866
 471       1590364980  a1d44e  41.786831 -87.747850
 509       1590364990  a1d44e  41.786167 -87.747803
 534       1590365000  a1d44e  41.786167 -87.747803
 591       1590365010  a1d44e  41.786167 -87.747803
 603       1590365020  a1d44e  41.785023 -87.746055
 649       1590365030  a1d44e  41.785332 -87.745571
 670       1590365040  a1d44e  41.785332 -87.745571
 696       1590365050  a1d44e  41.785332 -87.745571
 731       1590365060  a1d44e  41.785332 -87.745571
 772       1590365070  a1d44e  41.785332 -87.745571
 808       1590365080  a1d44e  41.785332 -87.745571
 829       1590365090  a1d44e  41.785332 -87.745571
 852       1590365100  a1d44e  41.785332 -87.745571
 909       1590365110  a1d44e  41.785332 -87.745571
 916       1590365120  a1d44e  41.785332 -87.745571
 969       1590365130  a1d44e  41.785332 -87.745571
 985       1590365140  a1d44e  41.785332 -87.745571
 1014      1590365150  a1d44e  41.785332 -87.745571
 1066      1590365160  a1d44e  41.785332 -87.745571
 1081      1590365170  a1d44e  41.785332 -87.745571
 1116      1590365180  a1d44e  41.785332 -87.745571
 1166      1590365190  a1d44e  41.785332 -87.745571
 1168      1590365200  a1d44e  41.785332 -87.745571
 1214      1590365210  a1d44e  41.785332 -87.745571
 1235      1590365220  a1d44e  41.785332 -87.745571
 1289      1590365230  a1d44e  41.785332 -87.745571
 1305      1590365240  a1d44e  41.785332 -87.745571
 1342      1590365250  a1d44e  41.785332 -87.745571
 1367      1590365260  a1d44e  41.785332 -87.745571
 1414      1590365270  a1d44e  41.785332 -87.745571
 1423      1590365280  a1d44e  41.785332 -87.745571
 1460      1590365290  a1d44e  41.785332 -87.745571
 1492      1590365300  a1d44e  41.785332 -87.745571
 1535      1590365310  a1d44e  41.785332 -87.745571
 1562      1590365320  a1d44e  41.785332 -87.745571
 1607      1590365330  a1d44e  41.785332 -87.745571,
                 time  icao24        lat        lon
 OBJECTID
 19        1590364810  a1e05f  41.608483 -87.359896
 39        1590364820  a1e05f  41.611230 -87.361173
 58        1590364830  a1e05f  41.611230 -87.361173
 79        1590364840  a1e05f  41.630596 -87.370435
 123       1590364850  a1e05f  41.638000 -87.373955
 ...              ...     ...        ...        ...
 4152      1590366120  a1e05f  42.134058 -87.912789
 4191      1590366130  a1e05f  42.134058 -87.912789
 4200      1590366140  a1e05f  42.134058 -87.912789
 4237      1590366150  a1e05f  42.134058 -87.912789
 4285      1590366160  a1e05f  42.134058 -87.912789

 [136 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 5970      1590366720  a1fc42  41.783936 -87.753296
 5991      1590366730  a1fc42  41.783936 -87.753296
 6018      1590366740  a1fc42  41.793457 -87.741498
 6062      1590366750  a1fc42  41.793457 -87.741498
 6081      1590366760  a1fc42  41.793457 -87.741498
 ...              ...     ...        ...        ...
 11545     1590368350  a1fc42  39.245119 -86.610840
 11579     1590368360  a1fc42  39.227829 -86.598776
 11597     1590368370  a1fc42  39.209793 -86.586297
 11626     1590368380  a1fc42  39.191711 -86.573937
 11685     1590368390  a1fc42  39.173218 -86.561399

 [168 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 18        1590364810  a209c0  41.321777 -86.937012
 27        1590364820  a209c0  41.333685 -86.946800
 54        1590364830  a209c0  41.346022 -86.955726
 85        1590364840  a209c0  41.358582 -86.963989
 126       1590364850  a209c0  41.369903 -86.970707
 ...              ...     ...        ...        ...
 3955      1590366060  a209c0  41.784290 -87.746648
 3994      1590366070  a209c0  41.784290 -87.746648
 4015      1590366080  a209c0  41.784290 -87.746648
 4055      1590366090  a209c0  41.784290 -87.746648
 4095      1590366100  a209c0  41.784290 -87.746648

 [130 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 14        1590364810  a21127  41.892288 -89.007548
 29        1590364820  a21127  41.900459 -88.980763
 72        1590364830  a21127  41.908859 -88.952928
 87        1590364840  a21127  41.917099 -88.925774
 108       1590364850  a21127  41.925018 -88.899557
 ...              ...     ...        ...        ...
 6877      1590367000  a21127  42.787491 -85.498102
 6904      1590367010  a21127  42.787491 -85.498102
 6933      1590367020  a21127  42.787491 -85.498102
 6974      1590367030  a21127  42.787491 -85.498102
 6998      1590367040  a21127  42.787491 -85.498102

 [224 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 2         1590364810  a23d25  39.759064 -87.232460
 50        1590364820  a23d25  39.779865 -87.231140
 53        1590364830  a23d25  39.800301 -87.229858
 100       1590364840  a23d25  39.821320 -87.228460
 104       1590364850  a23d25  39.841174 -87.227234
 ...              ...     ...        ...        ...
 6764      1590366960  a23d25  42.927109 -87.975322
 6766      1590366970  a23d25  42.927109 -87.975322
 6832      1590366980  a23d25  42.927109 -87.975322
 6838      1590366990  a23d25  42.927109 -87.975322
 6895      1590367000  a23d25  42.927109 -87.975322

 [220 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 9553      1590367810  a2628d  42.218969 -88.424037
 9606      1590367820  a2628d  42.220645 -88.433746
 9622      1590367830  a2628d  42.221924 -88.442313
 9672      1590367840  a2628d  42.221669 -88.452269
 9689      1590367850  a2628d  42.216037 -88.457635
 9729      1590367860  a2628d  42.209473 -88.458465
 9789      1590367870  a2628d  42.207092 -88.458731
 9821      1590367880  a2628d  42.202490 -88.460445
 9844      1590367890  a2628d  42.198812 -88.477691
 9874      1590367900  a2628d  42.198719 -88.479352
 9930      1590367910  a2628d  42.208191 -88.492501
 9937      1590367920  a2628d  42.216339 -88.494811
 10008     1590367930  a2628d  42.221530 -88.502219
 10021     1590367940  a2628d  42.220139 -88.510603
 10060     1590367950  a2628d  42.220139 -88.510603
 10104     1590367960  a2628d  42.225769 -88.525023
 10148     1590367970  a2628d  42.235519 -88.527645
 10187     1590367980  a2628d  42.243301 -88.524961
 10221     1590367990  a2628d  42.246482 -88.515440
 10250     1590368000  a2628d  42.248062 -88.504923
 10281     1590368010  a2628d  42.248763 -88.495448
 10313     1590368020  a2628d  42.248483 -88.484909
 10353     1590368030  a2628d  42.247009 -88.475148
 10393     1590368040  a2628d  42.244492 -88.466034
 10435     1590368050  a2628d  42.240709 -88.458082
 10475     1590368060  a2628d  42.236147 -88.451375
 10494     1590368070  a2628d  42.231119 -88.444476
 10520     1590368080  a2628d  42.227142 -88.438194
 10560     1590368090  a2628d  42.225174 -88.435072
 10593     1590368100  a2628d  42.225174 -88.435072
 10656     1590368110  a2628d  42.228012 -88.413662
 10686     1590368120  a2628d  42.234604 -88.408356
 10731     1590368130  a2628d  42.244308 -88.403175
 10761     1590368140  a2628d  42.252731 -88.401552
 10795     1590368150  a2628d  42.261154 -88.402238
 10811     1590368160  a2628d  42.269153 -88.405002
 10877     1590368170  a2628d  42.276489 -88.409729
 10897     1590368180  a2628d  42.280511 -88.419310
 10933     1590368190  a2628d  42.276672 -88.426458
 10977     1590368200  a2628d  42.269989 -88.427270
 11029     1590368210  a2628d  42.263566 -88.426017
 11034     1590368220  a2628d  42.257328 -88.422887
 11073     1590368230  a2628d  42.251789 -88.419118
 11122     1590368240  a2628d  42.245911 -88.414598
 11166     1590368250  a2628d  42.241454 -88.410751
 11198     1590368260  a2628d  42.234983 -88.402703
 11249     1590368270  a2628d  42.233597 -88.398555
 11266     1590368280  a2628d  42.232749 -88.383860
 11321     1590368290  a2628d  42.233866 -88.374151
 11340     1590368300  a2628d  42.236007 -88.364187
 11379     1590368310  a2628d  42.238678 -88.354423
 11405     1590368320  a2628d  42.238707 -88.344130
 11466     1590368330  a2628d  42.234833 -88.336570
 11501     1590368340  a2628d  42.232498 -88.334011
 11522     1590368350  a2628d  42.223019 -88.327459
 11555     1590368360  a2628d  42.222290 -88.327082
 11609     1590368370  a2628d  42.210205 -88.324710
 11628     1590368380  a2628d  42.203156 -88.324835
 11664     1590368390  a2628d  42.197159 -88.325833,
                 time  icao24        lat        lon
 OBJECTID
 12        1590364810  a26fc9  41.626053 -87.973834
 37        1590364820  a26fc9  41.633156 -87.959353
 57        1590364830  a26fc9  41.639254 -87.946706
 88        1590364840  a26fc9  41.645737 -87.933572
 124       1590364850  a26fc9  41.651777 -87.921859
 ...              ...     ...        ...        ...
 1990      1590365450  a26fc9  41.785400 -87.745446
 2021      1590365460  a26fc9  41.785400 -87.745446
 2055      1590365470  a26fc9  41.785400 -87.745446
 2095      1590365480  a26fc9  41.785400 -87.745446
 2126      1590365490  a26fc9  41.785400 -87.745446

 [69 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 16        1590364810  a2bec7  41.795837 -88.067780
 34        1590364820  a2bec7  41.795111 -88.089720
 71        1590364830  a2bec7  41.794327 -88.112037
 90        1590364840  a2bec7  41.793575 -88.133474
 109       1590364850  a2bec7  41.792770 -88.156107
 ...              ...     ...        ...        ...
 11516     1590368350  a2bec7  38.021261 -94.649605
 11576     1590368360  a2bec7  38.002167 -94.661885
 11616     1590368370  a2bec7  37.987930 -94.670981
 11639     1590368380  a2bec7  37.971130 -94.681754
 11686     1590368390  a2bec7  37.953993 -94.692774

 [359 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 7519      1590367200  a37fa0  41.920166 -88.687508
 7585      1590367210  a37fa0  41.924789 -88.686010
 7597      1590367220  a37fa0  41.930113 -88.684132
 7640      1590367230  a37fa0  41.934586 -88.682327
 7677      1590367240  a37fa0  41.940765 -88.679706
 ...              ...     ...        ...        ...
 11543     1590368350  a37fa0  42.214314 -88.347388
 11575     1590368360  a37fa0  42.214314 -88.347388
 11601     1590368370  a37fa0  42.214314 -88.347388
 11627     1590368380  a37fa0  42.214314 -88.347388
 11682     1590368390  a37fa0  42.214314 -88.347388

 [120 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 225       1590364890  a390ff  44.248228 -88.526626
 261       1590364900  a390ff  44.241617 -88.530847
 277       1590364910  a390ff  44.235240 -88.534866
 302       1590364920  a390ff  44.229080 -88.538426
 349       1590364930  a390ff  44.221879 -88.539354
 ...              ...     ...        ...        ...
 11524     1590368350  a390ff  37.934813 -86.073821
 11577     1590368360  a390ff  37.915833 -86.066193
 11615     1590368370  a390ff  37.897060 -86.058655
 11650     1590368380  a390ff  37.877740 -86.050893
 11667     1590368390  a390ff  37.858109 -86.042877

 [351 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 3778      1590366000  a3bafc  42.708572 -88.288130
 3807      1590366010  a3bafc  42.705688 -88.294934
 3826      1590366020  a3bafc  42.701250 -88.299802
 3869      1590366030  a3bafc  42.696176 -88.302804
 3911      1590366040  a3bafc  42.690399 -88.303299
 ...              ...     ...        ...        ...
 6681      1590366940  a3bafc  42.325150 -88.096556
 6717      1590366950  a3bafc  42.325150 -88.096556
 6743      1590366960  a3bafc  42.325150 -88.096556
 6785      1590366970  a3bafc  42.325150 -88.096556
 6816      1590366980  a3bafc  42.325150 -88.096556

 [99 rows x 4 columns],
                 time  icao24        lat        lon
 OBJECTID
 24        1590364810  a3c185  41.492894 -87.457879
 33        1590364820  a3c185  41.495178 -87.461222

In [161]:
print(len(x_s), type(x_s))#great it has 57 seperate DataFrames that i can now use to train my LSTM
print(len(y_s), type(y_s))
y_s[0] #returns dataframe for icao24 == 0 == 4bb145 ( i actually can't confirm 0 == 4bb145)

57 <class 'list'>
57 <class 'list'>

                time  icao24        lat        lon
OBJECTID
8         1590364810  4bb145  43.676008 -85.243247
46        1590364820  4bb145  43.658798 -85.265148
62        1590364830  4bb145  43.643887 -85.286996
89        1590364840  4bb145  43.629130 -85.310080
120       1590364850  4bb145  43.614029 -85.333621
...              ...     ...        ...        ...
7782      1590367270  4bb145  41.967843 -87.894394
7786      1590367280  4bb145  41.967843 -87.894394
7843      1590367290  4bb145  41.967843 -87.894394
7872      1590367300  4bb145  41.967843 -87.894394
7893      1590367310  4bb145  41.967843 -87.894394

[251 rows x 4 columns]

In [162]:
#delete later
print(np.min(x_s[0]['velocity']),np.max(x_s[0]['velocity'])) 

print(len(x_s[47]))
x_s[47]

77.681044 250.43438272858876
95

,time,icao24,velocity,heading,vertrate,lastposupdate,lastcontact
OBJECTID,,,,,,,
1,1590364810,abef2f,139.650465,63.529340,0.32512,1.590365e+09,1.590365e+09
49,1590364820,abef2f,139.190142,63.434949,0.00000,1.590365e+09,1.590365e+09
52,1590364830,abef2f,138.730200,63.339931,0.00000,1.590365e+09,1.590365e+09
99,1590364840,abef2f,139.420968,63.245855,-0.32512,1.590365e+09,1.590365e+09
105,1590364850,abef2f,139.880531,63.340712,0.00000,1.590365e+09,1.590365e+09
...,...,...,...,...,...,...,...
2833,1590365710,abef2f,55.686038,43.128255,-0.65024,1.590365e+09,1.590365e+09
2897,1590365720,abef2f,55.686038,43.128255,-0.65024,1.590365e+09,1.590365e+09
2900,1590365730,abef2f,55.686038,43.128255,-0.65024,1.590365e+09,1.590365e+09
2960,1590365740,abef2f,55.686038,43.128255,-0.65024,1.590365e+09,1.590365e+09
2965,1590365750,abef2f,55.686038,43.128255,-0.65024,1.590365e+09,1.590365e+09

In [163]:
#I have a list of dataframes, i need to dropna and icao24 variable from each since i no longer need it
def DropnaValues(list_of_dataframes):
    for index,dataframe in enumerate(list_of_dataframes):
        #pass
        #print(dataframe)
        list_of_dataframes[index] = list_of_dataframes[index].dropna() #issue, i need to drop nan values before seperateing y and x....
        list_of_dataframes[index] = list_of_dataframes[index].drop("icao24", axis=1)

    return list_of_dataframes

nax_s = DropnaValues(x_s)
nax_s

nay_s = DropnaValues(y_s)
nay_s
print(len(nax_s[1]), len(nay_s[1]))
#print(len(x_s[0].dropna()))

#this for looop doesn't do what i want it to do yet....

287 287

In [164]:
nax_s == x_s #based on this my my data is the same as it was before dropped any nan values....skeptical

True

After a preliminary comparison, i belilve it is best to split the data basd on my desired (used x independent variables) first then groupby the icao and drop any nan's in order to preserve as much relevant data for my LSTM trining.

Currently, i have a new list 'x_s' that conatins 57 dataframes one for each flight path

Next i need to figure out how to continously train my LSTM with all of this data....(i will also have to split my train/test data by the time==1590368080 threshold).

In [165]:
x_s[14] #seems to alreadly be missing the icao24 varible, maybe my for loop worked...

,time,velocity,heading,vertrate,lastposupdate,lastcontact
OBJECTID,,,,,,
18,1590364810,156.695285,325.162083,-6.50240,1.590365e+09,1.590365e+09
27,1590364820,154.864734,330.113473,-9.10336,1.590365e+09,1.590365e+09
54,1590364830,154.638136,332.241459,-10.07872,1.590365e+09,1.590365e+09
85,1590364840,154.625299,334.372742,-10.40384,1.590365e+09,1.590365e+09
126,1590364850,154.892075,336.926346,-7.80288,1.590365e+09,1.590365e+09
...,...,...,...,...,...,...
3955,1590366060,65.494197,43.726970,-1.30048,1.590366e+09,1.590366e+09
3994,1590366070,65.494197,43.726970,-1.30048,1.590366e+09,1.590366e+09
4015,1590366080,65.494197,43.726970,-1.30048,1.590366e+09,1.590366e+09
4055,1590366090,65.494197,43.726970,-1.30048,1.590366e+09,1.590366e+09
4095,1590366100,65.494197,43.726970,-1.30048,1.590366e+09,1.590366e+09

## spliting the data into 2 parts (train and test)

need to perform this step before i rescale my data.

Choose arbitary threshold (train with 90% of data, which is the first 54mins of my data...this leaves 6 mins worth of point data for testing)
The first 54mins for training, and last 6 mins for testing.

In [166]:
#subsetting the data based time (another flight obeservations before 1590368080 will be used as training data
#not all flight paths have observations beyond the 1590368080 time 

def Spliting_test_train(list_x_dataframes, list_y_dataframes):
    test_x = []
    test_y = []
    train_x =[]
    train_y =[]
    for index,dataframe in enumerate(list_x_dataframes):
        Test_datax = list_x_dataframes[index][list_x_dataframes[index]['time'] >= 1590368080]
        test_x.append(Test_datax)
        Train_datax = list_x_dataframes[index][list_x_dataframes[index]['time'] < 1590368080]
        train_x.append(Train_datax)
        Test_datay = list_y_dataframes[index][list_y_dataframes[index]['time'] >= 1590368080]
        test_y.append(Test_datay)
        Train_datay = list_y_dataframes[index][list_y_dataframes[index]['time'] < 1590368080]
        train_y.append(Train_datay)
    #print(len(x_s[2]), len(Train_data), len(Test_data))
    
    return test_x, test_y, train_x, train_y

x_test ,y_test, x_train,y_train = Spliting_test_train(x_s, y_s)

# print("Training Shape", x_train.shape, y_train.shape)
# print("Testing Shape", x_test.shape, y_test.shape)

In [167]:
#now, need to drop the time column... or change it so the time column is not the index?  
def DropCol(list_of_dataframes):
    for index,dataframe in enumerate(list_of_dataframes):
        list_of_dataframes[index] = list_of_dataframes[index].drop("time", axis=1)

    return list_of_dataframes

x_test = DropCol(x_test)
x_test

y_test = DropCol(y_test)
y_test

x_train = DropCol(x_train)
x_train

y_train = DropCol(y_train)
y_train[0]

                lat        lon
OBJECTID
8         43.676008 -85.243247
46        43.658798 -85.265148
62        43.643887 -85.286996
89        43.629130 -85.310080
120       43.614029 -85.333621
...             ...        ...
7782      41.967843 -87.894394
7786      41.967843 -87.894394
7843      41.967843 -87.894394
7872      41.967843 -87.894394
7893      41.967843 -87.894394

[251 rows x 2 columns]

In [168]:
len(x_test[0])

0

### Rescaling

In [171]:
# rescaling all of my data....(based on the tutorial) y-> MinMax and x -> standard
#mm used to scale values between 0-1

def Rescale_list_data(list_x_dataframes, list_y_dataframes):
    x_ss =[]
    y_mm =[]
    mm = MinMaxScaler()
    ss = StandardScaler()
    for index,dataframe in enumerate(list_x_dataframes):
        if len(list_x_dataframes[index]) ==0: 
            x_ss.append(list_x_dataframes[index])
        if len(list_y_dataframes[index]) ==0:
            y_mm.append(list_y_dataframes[index])
        else: 
            rescaled_x = ss.fit_transform(list_x_dataframes[index])
            x_ss.append(rescaled_x)
            rescaled_y = mm.fit_transform(list_y_dataframes[index])
            y_mm.append(rescaled_y)
    
    return x_ss, y_mm

n_x_train, n_y_train = Rescale_list_data(x_train, y_train)
n_x_test, n_y_test = Rescale_list_data(x_test, y_test)

print(len(n_x_train), len(n_y_train), len(n_x_test), len(n_y_test))

57 57 57 57

### convert our numpy to tensors

In [193]:

def NUM_Ten(list_x_dataframes, list_y_dataframes):
    list_x_ten =[]
    list_y_ten =[]
    
    for index,dataframe in enumerate(list_x_dataframes):
        if len(list_x_dataframes[index]) ==0:
            x_tensors = torch.empty((0,5))
            list_x_ten.append(x_tensors) 
        if len(list_y_dataframes[index]) ==0:
            y_tensors = torch.empty((0,5))
            list_y_ten.append(y_tensors) 
        else:
            x_tensors = torch.Tensor(list_x_dataframes[index])
            list_x_ten.append(x_tensors)
            y_tensors = Variable(torch.Tensor(list_y_dataframes[index]))
            list_y_ten.append(y_tensors)
    
    return list_x_ten, list_y_ten

x_train_tensors, y_train_tensors = NUM_Ten(n_x_train, n_y_train)
x_test_tensors, y_test_tensors = NUM_Ten(n_x_test, n_y_test)

print(len(x_train_tensors), type(x_train_tensors[0]))

57 <class 'torch.Tensor'>

In [192]:
blah = torch.empty((0,5))
blah

tensor([], size=(0, 5))

### adding another dimension to tensors, for time

In [199]:
#import format for lSTMs needs to have each TIMESTAMP
#reshaping to rows, timestamps, features

def AddingDim(list_x_dataframes):
    list_of_ten_d =[]
    for index,dataframe in enumerate(list_x_dataframes):
        x_train_tensors_final = torch.reshape(list_x_dataframes[index],   (list_x_dataframes[index].shape[0], 1, list_x_dataframes[index].shape[1]))
        list_of_ten_d.append(x_train_tensors_final)
            #x_test_tensors_final = torch.reshape(x_test_tensors[0],  (x_test_tensors[0].shape[0], 1, x_test_tensors[0].shape[1])) 
    return list_of_ten_d


x_train_tensors_final = AddingDim(x_train_tensors)
x_test_tensors_final = AddingDim(x_test_tensors)

print("Training Shape", x_train_tensors_final[0].shape, y_train_tensors[0].shape)
print("Testing Shape", x_test_tensors_final[0].shape, y_test_tensors[0].shape)

Training Shape torch.Size([251, 1, 5]) torch.Size([251, 2])
Testing Shape torch.Size([0, 1, 5]) torch.Size([0, 5])

### Building the LSTM

based entirely on the demo

In [200]:
class LSTM1(nn.Module):
    def __init__(self, num_classes, input_size, hidden_size, num_layers, seq_length):
        super(LSTM1, self).__init__()
        self.num_classes = num_classes #number of classes (number of output variables)
        self.num_layers = num_layers #number of layers
        self.input_size = input_size #input size  (number of input variables)
        self.hidden_size = hidden_size #hidden state
        self.seq_length = seq_length #sequence length

        self.lstm = nn.LSTM(input_size=input_size, hidden_size=hidden_size,
                          num_layers=num_layers, batch_first=True) #lstm
        self.fc_1 =  nn.Linear(hidden_size, 128) #fully connected 1
        self.fc = nn.Linear(128, num_classes) #fully connected last layer

        self.relu = nn.ReLU()
    
    #pass in input a t time t
    def forward(self,x):
        h_0 = Variable(torch.zeros(self.num_layers, x.size(0), self.hidden_size)) #hidden state
        c_0 = Variable(torch.zeros(self.num_layers, x.size(0), self.hidden_size)) #internal state
        # Propagate input through LSTM
        output, (hn, cn) = self.lstm(x, (h_0, c_0)) #lstm with input, hidden, and internal state
        hn = hn.view(-1, self.hidden_size) #reshaping the data for Dense layer next
        out = self.relu(hn)
        out = self.fc_1(out) #first Dense
        out = self.relu(out) #relu
        out = self.fc(out) #Final Output
        return out

In [202]:
# defining some input variables

#frist 2 variables aren't part of the defined input parameter?? when are they used?- Later when we train the lstm
num_epochs = 1000 #1000 epochs
learning_rate = 0.001 #0.001 lr

input_size = 5 #number of features
hidden_size = 2 #number of features in hidden state
num_layers = 1 #number of stacked lstm layers

num_classes = 2 #number of output classes

lstm1 = LSTM1(num_classes, input_size, hidden_size, num_layers, x_train_tensors_final[0].shape[1])
lstm1

LSTM1(
  (lstm): LSTM(5, 2, batch_first=True)
  (fc_1): Linear(in_features=2, out_features=128, bias=True)
  (fc): Linear(in_features=128, out_features=2, bias=True)
  (relu): ReLU()
)

In [208]:
start = time.process_time() #i suspect this will take some time...Let's see how long it actually takes


def RepeatedLSTMtraining(list_x_train_tensors, list_y_train_tensors, model, PATH):
    #defining our loss function and optimizer...
    criterion = torch.nn.MSELoss()    # mean-squared error for regression
    optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate) 

    # now we will loop over each epoch, calculate a loss, and imporve weights via the optimizer
    for epoch in range(num_epochs):
        outputs = model.forward(list_x_train_tensors) #forward pass
        optimizer.zero_grad() #caluclate the gradient, manually setting to 0
 
      # obtain the loss function
        loss = criterion(outputs, list_y_train_tensors)
     
        loss.backward() #calculates the loss of the loss function
 
        optimizer.step() #improve from loss, i.e backprop
        if epoch % 100 == 0:
            print("Epoch: %d, loss: %1.5f" % (epoch, loss.item())) #how can i improve the LSTM if it cannot caulate the loss
        
        #WHY is Loss NAN?--must train LSTM one flight path at a time (seperate csv files for each flight path?)

    torch.save(model.state_dict(), PATH)      

# saved first model based on one flight    
RepeatedLSTMtraining(x_train_tensors_final[0], y_train_tensors[0], lstm1, "Saved_LSTM_Models/flight0.pt")

#reloading previous model to train with more flight data...
#= RepeatedLSTMtraining(x_train_tensors_final[1], y_train_tensors[1], lstm1, "Saved_LSTM_Models/flight1.pt")
# flight2 = RepeatedLSTMtraining(x_train_tensors_final[2], y_train_tensors[2], lstm1, flight2)
# flight3 = RepeatedLSTMtraining(x_train_tensors_final[3], y_train_tensors[3], lstm1, flight3)
# flight4 = RepeatedLSTMtraining(x_train_tensors_final[4], y_train_tensors[4], lstm1, flight4)

print('Time', time.process_time() - start)

Epoch: 0, loss: 0.00007
Epoch: 100, loss: 0.00007
Epoch: 200, loss: 0.00006
Epoch: 300, loss: 0.00006
Epoch: 400, loss: 0.00006
Epoch: 500, loss: 0.00006
Epoch: 600, loss: 0.00006
Epoch: 700, loss: 0.00006
Epoch: 800, loss: 0.00006
Epoch: 900, loss: 0.00006
Time 1.59375

Current issue: I don't know if am actually training the same model on several flight paths or just retaining a model based on the current data at hand....

Also, uncertain of how the lstm actually works.

### Comparing with test data (?)

In [ ]:
# don't actually know what's happening here...
df_X_ss = ss.transform(x) #old transformers
df_y_mm = mm.transform(y) #old transformers

#print(df_X_ss, len(df_X_ss)) #looks the same when we previously used .fit_transform

df_X_ss = Variable(torch.Tensor(df_X_ss)) #converting to Tensors
df_y_mm = Variable(torch.Tensor(df_y_mm))
#reshaping the dataset
df_X_ss = torch.reshape(df_X_ss, (df_X_ss.shape[0], 1, df_X_ss.shape[1]))

In [ ]:
# looking at our LSTM performance
train_predict = lstm1(df_X_ss)#forward pass for all data rows
data_predict = train_predict.data.numpy() #numpy conversion
dataY_plot = df_y_mm.data.numpy()

data_predict = mm.inverse_transform(data_predict) #reverse transformation
dataY_plot = mm.inverse_transform(dataY_plot)

In [ ]:
# must reshape the data so i can plot it...
dataY_plot_f = dataY_plot.flatten()
p_lat = []
p_lon = []
a_lat = []
a_lon = []
for index, element in enumerate(dataY_plot_f):
    if index % 2 == 0:
        a_lat.append(element)
    else:
        a_lon.append (element)
        
data_predict_f = data_predict.flatten()
for index, element in enumerate(data_predict_f):
    if index % 2 == 0:
        p_lat.append(element)
    else:
        p_lon.append (element)
        
#p_lat #returns nan values for my lstm predictions

In [ ]:
# the data is too spread out for me to see actual comparisons at the decimal level.... 
# either (1) try plotting in folium maps (this way i can zoom in...)
#        (2)  or plot lat/long as a scatterplot and zoom in manually via code

f, ax = plt.subplots(1,2, figsize=(12, 9))
ax[0].scatter(a_lat,a_lon, label='Actual Data', alpha= .5)#actual data
ax[0].legend(loc='upper left')
ax[0].scatter(p_lat,p_lon, label='Predicted Data')
ax[0].legend(loc='upper left')
# ax[0].axvline(x=p_lat[10518], c='r', linestyle='--')
# ax[0].axhline(y=p_lon[10518], c='r', linestyle='--')
ax[0].set_title('Flight a198e5')

# ax[1].scatter(a_lat[10519:],a_lon[10519:], label='Actual Data', alpha= .5)#actual data
# ax[1].legend(loc='upper left')
ax[1].scatter(p_lat[10519:],p_lon[10519:], label='Predicted Data') #appears i have no predicted data results...(probably becasue my loss was nan it never actually trained my lstm)
ax[1].legend(loc='upper left')
ax[1].set_title('Predictions for Flight a198e5')
#data_predict

### RMSE error measure

In [ ]:
mse_lat = sklearn.metrics.mean_squared_error(a_lat, p_lat)
rmse_lat = math.sqrt(mse_lat)
mse_lon = sklearn.metrics.mean_squared_error(a_lon, p_lon)
rmse_lon = math.sqrt(mse_lon)

#error based on all of the data (training and test)
print("lat error:", rmse_lat, "lon error:", rmse_lon)

mse_lat_test = sklearn.metrics.mean_squared_error(a_lat[200:], p_lat[200:])
rmse_lat_test = math.sqrt(mse_lat_test)
mse_lon_test = sklearn.metrics.mean_squared_error(a_lon[200:], p_lon[200:])
rmse_lon_test = math.sqrt(mse_lon_test)

#Notices the error is larger when looking at only the test data. RMSE is measured in degrees 
print("lat error:", rmse_lat_test, "lon error:", rmse_lon_test)

#what does this mean in terms of meters or another unit of measure? 
    #converting degrees to meters is a problem, and depends on where in the globe the degree is...